<title>{{ title }} | Axiacore</title>
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@axiacore">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image }}">

<meta property="fb:app_id" content="306230909528637">
<meta property="og:site_name" content="Axiacore">
<meta property="og:type" content="{{ page_type }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image }}">
