<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block meta %}
            {% meta_tags %}
        {% endblock %}
        <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-title" content="axiacore">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        {% block css %}
            {% tailwind_css %}
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        <!--

  __ ___  _ _  __ _  ___ ___  _ __ ___
 / _` \ \/ / |/ _` |/ __/ _ \| '__/ _ \
| (_| |>  <| | (_| | (_| (_) | | |  __/
 \__,_/_/\_\_|\__,_|\___\___/|_|  \___|

          -->
        {% block body %}
        {% endblock body %}
        {% block js %}
        {% endblock %}
    </body>
</html>
